/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

ul {
  list-style-type: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
input,
button {
  display: block;
}



.addToList {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
}



.tdlist {
  height: 400px;
  width: 400px;
  background-color: blue;
}